body {
    animation: transitionIn 4s;
    z-index: 3;
    background-position: top;
    background-color: white;
}


@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;

    }
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header .links {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 40px;
    z-index: 2;
}

header nav a {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
    z-index: 2;
}

header nav a:hover {
    color: #FF5733;
}

.logo {
    position: absolute;
    right: 5%;
    width: 15%;
    height: auto;
}


.menu-toggle {
    display: none; /* Hidden by default */
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}




main {
    position: absolute;
    top: 200px;
    z-index: 1;
    text-align: center;
    height: 100%;
}

.display {
    width: 45%;
    margin-top: 20px;
    margin: auto;
    padding: 10px; /* Adds space inside each grid item */
    border-radius: 8px; /* Optional: Adds rounded corners */
    border: 5px solid #FF5733;
    text-align: center;
    background-color: black;
}

.display a {
    display: flex;
    width: fit-content;
    text-decoration: none;
}


.grid-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    row-gap: 20px;
    margin-top: 5%;
}

.display:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Shadow gives the raised effect */
    transform: translateY(-10px);
}

.display h2, a {
    color: whitesmoke;
    text-decoration: none;
}

.display a {
    width: fit-content;
}

.display img {
    width: 100%; /* Makes the image responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: Adds rounded corners to images */
}

.display h2 {
    margin-top: 45px; /* Adds space between the image and the title */
    font-size: 2rem; /* Adjust font size */
    text-align: center;
}

.title {
    font-family: 'Kanit', sans-serif;
    color: black;
    font-size: 3rem;
    text-align: center;
    z-index: 1; /* Make sure it appears on top of the container */
}

.cta {
    display: inline-block;
    margin-top: 2%;
    font-family: 'Kanit', sans-serif;
    font-size: large;
    padding: 1%;
    height: auto;
    color: white;
    background-color: black;
}

.cta:hover, .floater:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.floater {
    position: fixed;
    right: 2%;
    bottom: 2%;
    font-family: 'Kanit', sans-serif;
    font-size: large;
    padding: 1%;
    height: auto;
    color: white;
    background-color: black;
}



@media screen and (max-width: 768px) {

header {
position: relative;
    height: 80px;
}

.logo {
    width: 30%;
}

.container {
    height: 100vh;
}

.title {
    margin-top: 35px;
    text-wrap: nowrap;
}

footer a {
    margin-left: 0;
}

.display h2 {
    font-size: 18px;
}

}

   

